# ProjT Launcher default configuration
CONFIG_BUILD_RELEASE=y
CONFIG_QT_VERSION_MAJOR=6
CONFIG_QT_VERSION_MINOR=8
CONFIG_QT_VERSION_PATCH=0
CONFIG_QT_BUNDLED=y
CONFIG_FEATURE_JAVA_DOWNLOADER=y
CONFIG_QT_MODULE_QTWEBENGINE=y
CONFIG_FEATURE_LAUNCHER_HUB=y

CONFIG_CROSS_COMPILE=""
CONFIG_SYSROOT=""
CONFIG_CC=""
CONFIG_CXX=""
CONFIG_AR=""
CONFIG_STRIP=""
CONFIG_CFLAGS_EXTRA=""
CONFIG_CXXFLAGS_EXTRA=""
CONFIG_LDFLAGS_EXTRA=""

CONFIG_MOD_LAUNCHER=y
CONFIG_MOD_BUILD_CONFIG=y
CONFIG_MOD_PROGRAM_INFO=y
CONFIG_MOD_SYSTEMINFO=y
CONFIG_MOD_LAUNCHERJAVA=y
CONFIG_MOD_JAVACHECK=y
CONFIG_MOD_RAINBOW=y
CONFIG_MOD_LOCALPEER=y
CONFIG_MOD_GAMEMODE=y
CONFIG_MOD_MURMUR2=y
CONFIG_MOD_QDCSS=y
CONFIG_MOD_ZLIB=y
CONFIG_MOD_LIBPNG=y
CONFIG_MOD_BZIP2=y
CONFIG_MOD_MINIZIP=y
CONFIG_MOD_QUAZIP=y
CONFIG_MOD_TOMLPLUSPLUS=y
CONFIG_MOD_CMARK=y
CONFIG_MOD_LIBQRENCODE=y
CONFIG_MOD_LIBNBTPLUSPLUS=y

CONFIG_BUILD_TESTS=n
CONFIG_BUILD_FUZZERS=n
